.userlist {
  display: flex;

  margin-left: auto;
  margin-right: 0px;
  margin-top: 0;
  margin-bottom: 0;
  gap: 20px;
}

.button {
  background: #000;
  min-width: 100px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #03f453;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  border: none;
}
.button:hover {
  background: #e717c7;
  color: #050801;
  box-shadow: 0 0 5px #e717c7, 0 0 25px #e717c7, 0 0 50px #e717c7,
    0 0 200px #e717c7;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.button:nth-child(1) {
  filter: hue-rotate(270deg);
}
.button:nth-child(2) {
  filter: hue-rotate(110deg);
}
span {
  position: absolute;
  display: block;
}
.top {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

.right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03f43b);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.bottom {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ecf403);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03c0f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

.text {
  margin: 0;
  min-width: 100px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #03e9f4;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}

.text:nth-child(1) {
  filter: hue-rotate(110deg);
}
.text span:nth-child(2) {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #03f427;
}

.text span:nth-child(3) {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #03f427;
}

.text span:nth-child(4) {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #03f427;
}

.text span:nth-child(5) {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #03f427;
}
